<% include ../partials/header %>

<div>
	<header class="jumbotron">
		<div class="container">
			<h2 class="hd1">Welcome to our personal Blog!</h2>
			<p>
				<a class="btn btn-primary btn-md" href="/blogs/new"><span class="fa fa-plus fa-fw" aria-hidden="true"></span> New blog</a>
			</p>
			<p>
				<form action="/blogs" method="GET" class="form-inline">
					<div class="form-group">
						<input type="text" name="search" placeholder="Blog search..." class="form-control">
						<input type="submit" value="Search" class="btn btn-default">
					</div>
				</form>
			</p>
		</div>
	</header>
	
		<div class="row text-center" id="blog-grid">
			<% blogs.forEach(function(blog){ %>
			<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
				<div class="card">
					<a href="/blogs/<%= blog._id %>">
						<img class="card-img-top" src="<%= blog.image %>" alt="<%= blog.name %>">
					</a>
					<div class="card-body">
						<h5 class="card-title"><%= blog.name %></h5>
						<!-- <a href="/blogs/<%= blog._id %>" class="btn btn-outline-primary">More Info</a> -->
						<% var	i = 0; %>
						<% blog.comments.forEach(function(comment){ %>
						<% i++ %>
						<% }); %>
						<% if (i === 0) { %>
						<p><small>No comments yet!</small></p>
						<% } else if (i === 1) { %>
						<p><small>1 comment</small></p>
						<% } else { %>
						<p><small><%= i %> comments</small></p>
						<% }; %>
					</div>
				</div>
			</div>
			<% }); %>
		</div>
</div>

<% include ../partials/footer %>